* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Poppins, sans-serif; */
}

body {
  background-color:whitesmoke;
}

:root {
  --primary-color: linear-gradient(to right, #6a3093, #a044ff);
  --custom-width: min(90vw, 1440px);
}

.header {
  background: var(--primary-color);
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  width: var(--custom-width);
  margin: auto;
  padding: 1rem 0;
  color: #fff;
}

.app {
  width: var(--custom-width);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
}

.account-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.acc-balance {
  color: #fff;
}

h4 {
  font-weight: 800;
}

legend {
  font-weight: bolder;
  font-size: 2rem;
}

.amt {
  font-size: 30px;
  font-weight: 800;
}

.income-expense-ctn {
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 10px;
}

.income {
  background-color: #b4debd4b;
  color: #008000;
  width: 100%;
  max-width: 380px;
  padding: 40px 0;
  border-radius: 5px;
}

.expense {
  background-color: #f080804b;
  color: #f00;
  width: 100%;
  max-width: 380px;
  padding: 40px 0;
  border-radius: 5px;
}

.toggle-transaction {
  display: flex;
  justify-content: space-around;
}

.new-transaction fieldset,
.recent-transaction fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: none;
}

.nt-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.income-radio {
  color: #008000;
  font-weight: bolder;
}

.expense-radio {
  color: #f00;
  font-weight: bolder;
}

.nt-description,
.nt-amount {
  outline: none;
  height: 50px;
  font-size: 1.5rem;
  padding: 0 5px;
}

.rt-transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 20px 0;
}

.add-btn {
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  padding: 20px 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
}

.del-btn {
  cursor: pointer;
}
